body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:33%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#007fff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #00ffff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00ffff), color-stop(1, #007fff) ); 
	background:-moz-linear-gradient( center top, #00ffff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffff", endColorstr="#007fff");	background: -o-linear-gradient(top,#00ffff,007fff);

	background-color:#00ffff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	image-align:right;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff56ff 5%, #ffaaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff56ff), color-stop(1, #ffaaff) );
	background:-moz-linear-gradient( center top, #ff56ff 5%, #ffaaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff56ff", endColorstr="#ffaaff");	background: -o-linear-gradient(top,#ff56ff,ffaaff);

	background-color:#ff56ff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff56ff 5%, #ffaaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff56ff), color-stop(1, #ffaaff) );
	background:-moz-linear-gradient( center top, #ff56ff 5%, #ffaaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff56ff", endColorstr="#ffaaff");	background: -o-linear-gradient(top,#ff56ff,ffaaff);

	background-color:#ff56ff;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


.TMLeaderboard {
	margin:0px;padding:0px;
	width:60%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.TMLeaderboard table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.TMLeaderboard tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.TMLeaderboard table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.TMLeaderboard table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.TMLeaderboard tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.TMLeaderboard tr:hover td{
	background-color:#ffaaff;
		

}
.TMLeaderboard td{
	vertical-align:middle;
		background:-o-linear-gradient(bottom, #ff56ff 5%, #ffaaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff56ff), color-stop(1, #ffaaff) ); 
	background:-moz-linear-gradient( center top, #ff56ff 5%, #ffaaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff56ff", endColorstr="#ffaaff");	background: -o-linear-gradient(top,#ff56ff,ffaaff);

	background-color:#ff56ff;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:15px;
	font-family:Comic Sans MS;
	font-weight:normal;
	color:#000000;
}.TMLeaderboard tr:last-child td{
	border-width:0px 1px 0px 0px;
}.TMLeaderboard tr td:last-child{
	border-width:0px 0px 1px 0px;
}.TMLeaderboard tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.TMLeaderboard tr:first-child td{
		background:-o-linear-gradient(bottom, #56ffff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56ffff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #56ffff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56ffff", endColorstr="#007fff");	background: -o-linear-gradient(top,#56ffff,007fff);

	background-color:#56ffff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}
.TMLeaderboard tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #56ffff 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56ffff), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #56ffff 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56ffff", endColorstr="#007fff");	background: -o-linear-gradient(top,#56ffff,007fff);

	background-color:#56ffff;
}
.TMLeaderboard tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.TMLeaderboard tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

#wrap {
   width:"100%";
   margin:0 auto;
}
#left_col {
   float:left;
   width:"50%"";
}
#right_col {
   float:right;
   width:"50%";
}












.form-container {
   border: 1px solid #daf0d1;
   background: #4ac2a4;
   background: -webkit-gradient(linear, left top, left bottom, from(#4ac2a4), to(#4ac2a4));
   background: -webkit-linear-gradient(top, #4ac2a4, #4ac2a4);
   background: -moz-linear-gradient(top, #4ac2a4, #4ac2a4);
   background: -ms-linear-gradient(top, #4ac2a4, #4ac2a4);
   background: -o-linear-gradient(top, #4ac2a4, #4ac2a4);
   background-image: -ms-linear-gradient(top, #4ac2a4 0%, #4ac2a4 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:500px;
   }
.form-field {
   border: 1px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #725129;
   }
.form-container h2 {
   text-shadow: #6f57cf 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #452870;
   text-shadow: #6f57cf 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #447314;
   background: #7a0de0;
   background: -webkit-gradient(linear, left top, left bottom, from(#7a0de0), to(#7a0de0));
   background: -webkit-linear-gradient(top, #7a0de0, #7a0de0);
   background: -moz-linear-gradient(top, #7a0de0, #7a0de0);
   background: -ms-linear-gradient(top, #7a0de0, #7a0de0);
   background: -o-linear-gradient(top, #7a0de0, #7a0de0);
   background-image: -ms-linear-gradient(top, #7a0de0 0%, #7a0de0 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #f4f7f7;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
   
   
   

   