<!DOCTYPE html>
<html>
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/backgrid.min.js" th:src="@{/resources/js/backgrid.min.js}"></script>
	<script src="../../../resources/js/core.js" th:src="@{/resources/js/core.js}"></script>
</head>

<body>

	<div class="CSSTableGenerator" th:fragment="badgeTable" style="width: 100%;">
	<table>
	  <tr><td>Badge</td><td>Meaning</td></tr>
	  <tr>
	    <td><img style="float: right; position: relative; right: 0%;" src="resources/images/GiftBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
	    <td>Perfect attendance from launch to date</td> 
	 </tr>
	  <tr>
	    <td><img style="float: right; position: relative; right: 0%;" src="resources/images/BlueBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
	    <td>B+ (or better!) average on HW 1/2</td> 
	  </tr>
	  <tr>
	    <td><img style="float: right; position: relative; right: 0%;" src="resources/images/GiftsBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
	    <td>Perfect attendance, weeks 2-7</td> 
	  </tr>
	  <tr>
	    <td><img style="float: right; position: relative; right: 0%;" src="resources/images/YellowBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
	    <td>B+ (or better!) on midterm</td> 
	  </tr>
	  <tr>
	    <td><img style="float: right; position: relative; right: 0%;" src="resources/images/StarBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
	    <td>Challenge Master, Class Rep or Most Improved</td> 
	  </tr>
	  <tr>
	    <td><img style="float: right; position: relative; right: 0%;" src="resources/images/QuestionBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
	    <td>Random Riddles and Prizes</td> 
	  </tr>
	</table>
	</div> 
	
	
</body>
</html>