<!DOCTYPE html>
<html>
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/backgrid.css" rel="stylesheet" media="screen" th:href="@{/resources/css/backgrid.css}" />
	<!-- script src="../../../resources/css/backgrid.css" rel="stylesheet" media="screen"></script -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/backgrid.min.js" th:src="@{/resources/js/backgrid.min.js}"></script>
</head>
<body>

<div th:fragment="body">
    <div class="container">
    	<div id="backgrid-example" class="backgrid-container"></div>
    </div>
</div>


<script type="text/javascript">
  var TmStudent = Backbone.Model.extend({});

  var TmStudents = Backbone.Collection.extend({
    model: TmStudent,
    url: "teststudents.json"
  });

  var students = new TmStudents(); 
  
  var UpdateCell = Backgrid.UriCell.extend({
	    template: _.template('<button><a>Update</a></button>'),
	    render: function () {
	  	  this.constructor.__super__.render.apply(this, arguments);
	      this.$el.html(this.template());
	      this.$("a").attr({href: "updateuser/"+ this.model.attributes.id });
	      return this;
	    }
	});

  var columns = [{
	    name: "id", // The key of the model attribute
	    label: "ID", // The name to display in the header
	    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
	    // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
	    cell: Backgrid.IntegerCell.extend({
	      orderSeparator: ''
	    })
	  }, {
	    name: "firstName",
	    label: "First Name",
	    editable: false,
	    cell: "string" 
	  }, {
	    name: "lastName",
	    label: "Last Name",
	    editable: false,
	    cell: "string" 
	  }, {
		    name: "characterName",
		    label: "Character Name",
		    editable: false,
		    cell: "string" 
 	  }, {
		    name: "hw1",
		    label: "HW #1",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var hw1 = this.model.get("hw1");
		            if ( hw1 === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( hw1 );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "hw2",
		    label: "HW #2",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var hw2 = this.model.get("hw2");
		            if ( hw2 === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( hw2 );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "hw3",
		    label: "HW #3",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var hw3 = this.model.get("hw3");
		            if ( hw3 === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( hw3 );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "hw4",
		    label: "HW #4",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var hw4 = this.model.get("hw4");
		            if ( hw4 === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( hw4 );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "hw5",
		    label: "HW #5",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var hw5 = this.model.get("hw5");
		            if ( hw5 === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( hw5 );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "badge1",
		    label: "Has Badge 1",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge2",
		    label: "Has Badge 2",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge3",
		    label: "Has Badge 3",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge4",
		    label: "Has Badge 4",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge5",
		    label: "Has Badge 5",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge6",
		    label: "Has Badge 6",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "midterm",
		    label: "Midterm Exam",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var midterm = this.model.get("midterm");
		            if ( midterm === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( midterm );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "thefinal",
		    label: "Final Exam",
		    editable: false,
		    cell: Backgrid.Cell.extend({
		        render: function(){
		            var thefinal = this.model.get("thefinal");
		            if ( thefinal === -1 ){
			            this.$el.text( '---' );
		            }
		            else {
			            this.$el.text( thefinal );
		            }
		            // MUST do this for the grid to not error out
		            return this;
		        }
		    }) 
	  }, {
		    name: "finalGrade",
		    label: "Final Grade",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "participation",
		    label: "Participation",
		    editable: false,
		    cell: "number"  
	  }, {
		    name: "---",
		    label: "Update",
		    editable: false,
		    cell: UpdateCell
	}];

	// Initialize a new Grid instance
	var grid = new Backgrid.Grid({
	  columns: columns,
	  collection: students
	});

	// Render the grid and attach the root to your HTML document
	$("#backgrid-example").append(grid.render().el);

	// Fetch students from the url
	students.fetch({reset: true});
  
  </script>
</body>
</html>
