<!DOCTYPE html>
<html>
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/backgrid.css" rel="stylesheet" media="screen" th:href="@{/resources/css/backgrid.css}" />
	<!-- script src="../../../resources/css/backgrid.css" rel="stylesheet" media="screen"></script -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/backgrid.min.js" th:src="@{/resources/js/backgrid.min.js}"></script>
</head>
<body>

<div th:fragment="body">
    <div class="container">
 	    <H2>Welcome back, <span th:text="${user.firstName}">First </span> <span th:text="${user.lastName}">Last</span>!</H2>
	    
	    <div style="margin: 25px 0px 0px 25px;">
		    
		    <div style="float: left;">
			    <div style="margin: 5px 0px 0px 0px;" th:if="${user.badge1 == true}">
			    	<img src="resources/images/BlueBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div th:if="${user.badge2 == true}">
			    	<img src="resources/images/YellowBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div style="margin: 5px 0px 0px 0px;" th:if="${user.badge3 == true}">
			    	<img src="resources/images/GiftBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
		    </div>
		    
		    <div style="float: left; margin: 0px 0px 0px 15px;" > 
		      <img src="resources/images/PlayerAvatar.png" class="img-responsive" alt="Responsive image" height="75" width="75"/>
		    </div>
		    
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth40()}">
			    <img src="resources/images/Health40.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth35()}">
			    <img src="resources/images/Health35.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth30()}">
			    <img src="resources/images/Health30.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth25()}">
			    <img src="resources/images/Health25.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth20()}">
			    <img src="resources/images/Health20.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth15()}">
			    <img src="resources/images/Health15.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth10()}">
			    <img src="resources/images/Health10.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth5()}">
			    <img src="resources/images/Health5.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth0()}">
			    <img src="resources/images/Health0.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    
		    <div style="float: left; margin: 0px 0px 0px 10px;">
			    <div style="margin: 5px 0px 0px 0px;" th:if="${user.badge4 == true}">
			    	<img src="resources/images/GiftsBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div th:if="${user.badge5 == true}">
			    	<img src="resources/images/StarBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div th:if="${user.badge6 == true}">
			    	<img src="resources/images/QuestionBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
		    </div>
	    </div>
	    
	  <div class="CSSTableGenerator" style="margin-left:auto; margin-right:0;">
		<table>
		  <tr><td>Badge</td><td>Meaning</td></tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/GiftBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Perfect attendance from launch to date</td> 
		 </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/BlueBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>B+ (or better!) average on HW 1/2</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/GiftsBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Perfect attendance, weeks 2-7</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/YellowBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>B+ (or better!) on midterm</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/StarBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Challenge Master, Class Rep or Most Improved</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/QuestionBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Random Riddles and Prizes</td> 
		  </tr>
		</table>
		</div>       
   </div>
</div>
</body>
</html>
