<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<form class="form-narrow form-horizontal" method="post" th:action="@{/reset}" th:object="${passwordResetForm}">
    <!-- /* Show general error message when form contains errors */ -->
    <th:block th:if="${#fields.hasErrors('${passwordResetForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <th:block th:if="${errorMessage}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Invalid Password entered, password will not be reset.')">Alert</div>
    </th:block>
    <fieldset>
        <legend>Reset Password for T-Max</legend>

        <div class="form-group"  th:classappend="${#fields.hasErrors('inputEmail')}? 'has-error'">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" th:field="*{inputEmail}" />
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('inputPassword')}? 'has-error'">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" th:field="*{inputPassword}" />
                <span class="help-block" th:if="${#fields.hasErrors('inputPassword')}" th:errors="*{inputPassword}">Incorrect password</span>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('passwordNew1')}? 'has-error'">
            <label for="passwordNew1" class="col-lg-2 control-label">Enter New Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="passwordNew1" placeholder="New Password" th:field="*{passwordNew1}"/>
                <span class="help-block" th:if="${#fields.hasErrors('passwordNew1')}" th:errors="*{passwordNew1}">Incorrect password</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('passwordNew2')}? 'has-error'">
            <label for="passwordNew2" class="col-lg-2 control-label">New Password (again)</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="passwordNew2" placeholder="New Password(again)" th:field="*{passwordNew2}"/>
                <span class="help-block" th:if="${#fields.hasErrors('passwordNew2')}" th:errors="*{passwordNew2}">Incorrect password</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Reset Password</button>
            </div>
        </div>
        
    </fieldset>
</form>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>