<!DOCTYPE html>
<html>
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/backgrid.css" rel="stylesheet" media="screen" th:href="@{/resources/css/backgrid.css}" />
	<!-- script src="../../../resources/css/backgrid.css" rel="stylesheet" media="screen"></script -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<script src="../../../resources/js/backgrid.min.js" th:src="@{/resources/js/backgrid.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
   
   <th:block th:if="${session.user != null}">
	
	<!-- ROLE_USER -->
     <th:block th:if="${!session.user.isAdmin()}">
      <div class="userRole">
	    <H2>Welcome back, <span th:text="${user.firstName}">First </span> <span th:text="${user.lastName}">Last</span>!</H2>
	    
	    <div style="margin: 25px 0px 0px 25px;">
		    
		    <div style="float: left;">
			    <div style="margin: 5px 0px 0px 0px;" th:if="${user.badge1 != true}">
			    	<img src="resources/images/BlueBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div th:if="${user.badge2 != true}">
			    	<img src="resources/images/YellowBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div style="margin: 5px 0px 0px 0px;" th:if="${user.badge3 != false}">
			    	<img src="resources/images/GiftBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
		    </div>
		    
		    <div style="float: left; margin: 0px 0px 0px 15px;" > 
		      <img src="resources/images/PlayerAvatar.png" class="img-responsive" alt="Responsive image" height="75" width="75"/>
		    </div>
		    
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth40()}">
			    <img src="resources/images/Health40.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth35()}">
			    <img src="resources/images/Health35.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth30()}">
			    <img src="resources/images/Health30.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth25()}">
			    <img src="resources/images/Health25.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth20()}">
			    <img src="resources/images/Health20.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth15()}">
			    <img src="resources/images/Health15.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth10()}">
			    <img src="resources/images/Health10.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth5()}">
			    <img src="resources/images/Health5.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    <div style="float: left; margin: 20px 0px 0px 0px;" th:if="${user.isHealth0()}">
			    <img src="resources/images/Health0.png" class="img-responsive" alt="Responsive image" height="150" width="100"/>
			</div>
		    
		    <div style="float: left; margin: 0px 0px 0px 10px;">
			    <div style="margin: 5px 0px 0px 0px;" th:if="${user.badge4 != true}">
			    	<img src="resources/images/GiftsBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div th:if="${user.badge5 != true}">
			    	<img src="resources/images/QuestionBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
			    <div th:if="${user.badge6 != true}">
			    	<img src="resources/images/StarBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/>
			    </div>
		    </div>
	    </div>
	    
		<div class="CSSTableGenerator" style="margin-left:auto; margin-right:0;">
		<table>
		  <tr><td>Badge</td><td>Meaning</td></tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/BlueBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Blue Bee Badge Info Here</td> 
		 </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/YellowBeeBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Yellow Bee Badge Info Here</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/GiftBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Gift Badge Info Here</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/GiftsBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Gifts Badge Info Here</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/StarBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Star Badge Info Here</td> 
		  </tr>
		  <tr>
		    <td><img style="float: right; margin: 0px 35px 0px 0px;" src="resources/images/QuestionBadge.png" class="img-responsive" alt="Responsive image" height="50" width="50"/></td>
		    <td>Question Badge Info Here</td> 
		  </tr>
		</table>
	</div>        
  </div>
  </th:block>
    
    <!-- ROLEADMIN -->
    <th:block th:if="${session.user.isAdmin()}">
    	<div id="backgrid-example" class="backgrid-container"></div>
 	</th:block>
	
  </th:block>    
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>


<script type="text/javascript">
  var Territory = Backbone.Model.extend({});

  var Territories = Backbone.Collection.extend({
    model: Territory,
    url: "students.json"
  });

  var territories = new Territories(); 
  
  var DeleteCell = Backgrid.UriCell.extend({
	    template: _.template('<button><a>Update</a></button>'),
/* 	    events: {
	      "click": "updateRow"
	    },
	    updateRow: function (e) {
	      console.log("Hello");
	      //Backbone.trigger("rowclicked", this.model);
	      e.preventDefault();
	    }, */
	    render: function () {
	  	 // debugger;
	  	  this.constructor.__super__.render.apply(this, arguments);
	      this.$el.html(this.template());
	      this.$("a").attr({href: "updateuser/"+ this.model.attributes.id });//"admin/" + this.model.attributes.id  + "/updateuser"});
	      return this;
	    }
	});
  
  /* Backbone.on("rowclicked", function (model) {
	  debugger;
	  console.log("BLAH");
	  var test = "admin/" + model.attributes.id  + "/updateuser";
      this.$("a").attr({href: "admin/" + model.attributes.id  + "/updateuser"});
	 }); */

  var columns = [{
	    name: "id", // The key of the model attribute
	    label: "ID", // The name to display in the header
	    editable: false, // By default every cell in a column is editable, but *ID* shouldn't be
	    // Defines a cell type, and ID is displayed as an integer without the ',' separating 1000s.
	    cell: Backgrid.IntegerCell.extend({
	      orderSeparator: ''
	    })
	  }, {
	    name: "firstName",
	    label: "First Name",
	    editable: false,
	    cell: "string" 
	  }, {
	    name: "lastName",
	    label: "Last Name",
	    editable: false,
	    cell: "string" 
	  }, {
		    name: "characterName",
		    label: "Character Name",
		    editable: false,
		    cell: "string" 
 	  }, {
		    name: "hw1",
		    label: "HW #1",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "hw2",
		    label: "HW #2",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "hw3",
		    label: "HW #3",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "hw4",
		    label: "HW #4",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "hw5",
		    label: "HW #5",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "badge1",
		    label: "Has Badge 1",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge2",
		    label: "Has Badge 2",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge3",
		    label: "Has Badge 3",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge4",
		    label: "Has Badge 4",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge5",
		    label: "Has Badge 5",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "badge6",
		    label: "Has Badge 6",
		    editable: false,
		    cell: "boolean" 
	  }, {
		    name: "midterm",
		    label: "Midterm Exam",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "thefinal",
		    label: "Final Exam",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "finalGrade",
		    label: "Final Grade",
		    editable: false,
		    cell: "number" 
	  }, {
		    name: "participation",
		    label: "Participation",
		    editable: false,
		    cell: "number"  
	  }, {
		    name: "---",
		    label: "Update",
		    editable: false,
		    cell: DeleteCell
	}];

	// Initialize a new Grid instance
	var grid = new Backgrid.Grid({
	  columns: columns,
	  collection: territories
	});

	// Render the grid and attach the root to your HTML document
	$("#backgrid-example").append(grid.render().el);

	// Fetch some countries from the url
	territories.fetch({reset: true});
  
  </script>
</body>
</html>